<div class="container">

    <mat-form-field appearance="fill">
        <mat-label>Kindergarten</mat-label>
        <mat-select [(ngModel)]="selectedKindergartenId" (selectionChange)="onKindergartenChange()">
            <mat-option value="">All Kindergartens</mat-option>
            <mat-option *ngFor="let kg of kindergartens" [value]="kg.id">{{ kg.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sort Order</mat-label>
        <mat-select [(ngModel)]="selectedSortOrder" (selectionChange)="onSortChange()">
            <mat-option value="name-asc">Name Ascending</mat-option>
            <mat-option value="name-desc">Name Descending</mat-option>
            <mat-option value="enrollmentDate-asc">Enrollment Date Ascending</mat-option>
            <mat-option value="enrollmentDate-desc">Enrollment Date Descending</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-table [dataSource]="storeService.children" class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="kindergarten">
            <th mat-header-cell *matHeaderCellDef> Kindergarten </th>
            <td mat-cell *matCellDef="let element"> {{element.kindergarden.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Adresse </th>
            <td mat-cell *matCellDef="let element"> {{element.kindergarden.address}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Alter </th>
            <td mat-cell *matCellDef="let element"> {{getAge(element.birthDate)}} </td>
        </ng-container>

        <ng-container matColumnDef="birthdate">
            <th mat-header-cell *matHeaderCellDef> Geburtsdatum </th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate | date:'longDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="enrollmentDate">
            <th mat-header-cell *matHeaderCellDef> Enrollment Date </th>
            <td mat-cell *matCellDef="let element"> {{element.enrollmentDate | date:'longDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="cancelRegistration(element.id)">Kind abmelden</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>

    <mat-paginator [length]="storeService.childrenTotalCount" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]"
        (page)="selectPage($event)">
    </mat-paginator>
</div>