.red-button {
  background-color: #f44336;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  transition: background-color 0.3s;
}

.red-button:hover {
  background-color: #ff6666;
}
